{% extends 'registration_base.html' %}
{% block title %}Login{% endblock title %}
{% block container %}
<div class="text-center">
    <h1 class="display-4 fs-3 mb-3">Sign Up</h1>
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger mb-3" role="alert">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
          </div>
        {% endif %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput_name" name="full_name" placeholder="name" required>
            <label for="floatingInput_name">Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" required>
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword1" name="password1" placeholder="Password" required>
            <label for="floatingPassword1">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword2" name="password2" placeholder="Password" required>
            <label for="floatingPassword2">Confirm Password</label>
        </div>
        <button class="btn btn-success" type="submit">Sign Up</button>
    </form>
</div>
{% endblock container %}